body {
	width: 600px;
	font-family: Helvetica,"Times New Roman",Serif;
}

.left {
	float: left;
}

.clear {
	clear: both;
}

#player .track_image > img {
	max-width: 150px;
	max-height: 100px;
}

#player div:first-child > div:first-child {
	margin-right: 10px;
}

#player div:first-child > div {
	display: inline-block;
	vertical-align: middle;
}

#player .controls > div {
	margin-right: 10px;
}