body {
	width: 600px;
	font-family: Helvetica,"Times New Roman",Serif;
}

.left {
	float: left;
}

.time {
	width: 55px;
}

.clear {
	clear: both;
}

#player .track_image {
	width: 150px;
	height: 85px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#player div:first-child > div:first-child {
	margin-right: 10px;
}

#player div:first-child > div {
	display: inline-block;
	vertical-align: middle;
}

#player .controls {
	margin-top: 10px;
}

#player .volume_control {
	position: relative;
	top: 20px;
}

#player .volume_control img {
	width: 16px;
}

#player .player_controls {
	text-align: center;
}

#player .player_controls img {
	margin-right: 10px;
}

#player .seekbar_container {
	margin-top: 5px;
}

#player .seekbar {
	width: 475px;
	position: relative;
	top: 5px;
}

#player .controls img:hover {
	cursor: pointer;
}

#player .volume_slider_container {
	position: absolute;
}