<div ng-repeat="track in playlist.track_list" ng-class-even="'even'" ng-class-odd="'odd'">
  <div class="left track_image" style="background-image: url({{track.image}});"></div>
  <div class="left track_data" style="position: relative">
    <div class="track_title" ng-click="play_track(track.id)">
      {{track.title}}
    </div>
    <div ng-show="playlist.current_track == track.id">
      <div class="controls">
        <div class="left player_controls">
          <img src="/popup/images/player/stop.png" ng-click="stop()" />
          <img src="/popup/images/player/play.png" ng-click="play()" ng-show="track_status.state == 'stop' || track_status.state == 'pause'" />
          <img src="/popup/images/player/pause.png" ng-click="pause()" ng-show="track_status.state == 'play'"/>
        </div>
        <div class="left seekbar_container">
          <div class="seekbar"></div>
        </div>
        <div class="left volume_control">
          <div class="left" style="margin: 0 5px 0 10px;">
            <img src="/popup/images/player/volume.png" ng-click="mute()" ng-show="!volume.muted" />
            <img src="/popup/images/player/mute.png" ng-click="unmute()"ng-show="volume.muted" />
          </div>
          <div class="left volume_slider"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="right">
    x
  </div>
  <div class="clear"></div>
</div>