<div>
  <div class="track_image">
    <img src="{{track.image}}" />
  </div>
  <div>
    <div>{{track.title}}</div>
    <div class="controls">
      <div class="volume_control left">
        <img src="/popup/images/player/volume.png" ng-show="!volume.muted" />
        <img src="/popup/images/player/mute.png" ng-show="volume.muted" />
      </div>
      <div class="player_controls">
        <img src="/popup/images/player/prev.png" ng-click="play_prev()" />
        <img src="/popup/images/player/play.png" ng-click="play()" ng-show="track_status.state == 'stop' || track_status.state == 'pause'" />
        <img src="/popup/images/player/pause.png" ng-click="pause()" ng-show="track_status.state == 'play'"/>
        <img src="/popup/images/player/next.png" ng-click="play_next()" />
      </div>
     </div>
  </div>
</div>
<div class="seekbar_container">
  <div class="left time" style="margin-right: 5px">
    {{track_status.duration.current}}
  </div>
  <div class="seekbar left"></div>
  <div class="left time" style="margin-left: 5px; text-align: right;">
    {{track_status.duration.total}}
  </div>
</div>