<html ng-csp>
<head lang="en">
  <title>PlayIt</title>
  <script data-main="/popup/src/main.js" src="/common/require.js"></script>
  <script src="/popup/src/require.config.js"></script>

  <link rel="stylesheet" href="/popup/css/angular-csp.css" />
  <link rel="stylesheet" href="/popup/css/style.css" />
  <link rel="stylesheet" href="/popup/css/jquery-ui-1.10.4.custom.css" />
</head>
<body>

<div id="current_playlist" ng-controller="current_playlist_controller" current_playlist></div>

</body>
</html>